main {
  width: 100%;
  margin: 10% auto;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main h1 {
  margin-bottom: 25px;
  text-transform: uppercase;
  font-size: 100px;
}

main h2 {
  margin-bottom: 25px;
  text-transform: uppercase;
  font-size: 15px;
}

main p {
  text-align: justify;
  line-height: 1.5;
}

button {
  width: 140px;
  height: 140px;
  border-radius: 100%;
  border: 0;
  text-transform: uppercase;
  background-color: rgba(211, 211, 211, 0.4);
}

.conteudo {
  max-width: 400px;
}

.planetas {
  flex: 1;
}
